@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulseColor {
    0%, 100% {
      color: green; /* Replace #gray with the actual gray color code you want */
    }
    50% {
      color: red;
    }
  }
  
  .animate-pulseColor {
    animation: pulseColor 1s infinite; /* Adjust 2s to control the speed */
  }